body {
  margin: 0px;
  font-family: sans-serif;
}

.metadata {
  margin-left: 60%
}

.sender {
  /* width: 50%; */
}

.recipient {
  /* width: 50%; */
  margin-top: 1em;
}

.grid.header {
  margin-top: 1em;
  border-bottom: none;
  font-weight: bold;
  line-height: 180%;
}

.grid {
  border: 1px solid gray;
  text-align: center;
  line-height: 140%;
}

.block {
  min-height: 1px;  /* otherwise empty divs have 0 width */
}

.dowday { width: 15%; clear: left }
.dow { width: 5%; clear: left }
.day { width: 10% }
.in, .out, .hours { width: 7% }
.task {
  width: 64%;  /* 100 - dowday - in - out - hours */
  text-align: left;
  white-space: nowrap;
}

.sunday-separator { height: 1em; }

.label { width: 30%; text-align: right }
.value { margin-left: 2%; width: 68% }
.total-hours { margin-top: 1em; }
.full-amount { margin-top: 1em; font-weight: bold }
